{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
    <h1>Liste des auteurs</h1>

    <!-- Tableau des auteurs avec le nombre livres publiés -->
{% endblock %}
