{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>

        {% for book in bookList %}
            <tr>
                <td>{{ book.title }}</td>
                <td>
                    <a href="{{ path('author-details', {'id': book.author.id}) }}">
                        {{ book.author }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
